@font-face {
  font-family: "PassionOne";
  src: url("./assets/PassionOne-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("@assets/background.jpg");
  min-height: 100vh;
  text-align: center;

  .App-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .App-logo {
      margin: 1% 0 0 1%;
      height: 30vmin;
      left: 0;
    }
  }

  .page-content {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;

    .display-text {
      top: 25%;
      margin-left: 6px;
      width: 35%;
      font-family:
        "PassionOne",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
      font-size: 42px;
      color: #ffffff;
      text-align: left;
      -webkit-text-stroke: 1px #ff0000;
      text-shadow: 0 0 8px #ff0000;
      rotate: -4deg;
    }

    .joke-paper {
      position: relative;
      margin-top: 40px;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }

      .joke-text {
        font-weight: 500;
        font-size: 18px;
        position: absolute;
        width: 70%;
        color: #e84f4b;
      }
    }

    .button {
      background: none;
      width: 40%;
      padding: 0 10%;

      &:hover {
        cursor: pointer;

        .button-img {
          transform: scale(1.05);
          transition: transform 0.2s;
        }
      }

      .button-img {
        width: 100%;
      }
    }
  }
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .App {
    background-size: cover;
    background-position: 55%;

    .App-header {
      display: flex;
      .App-logo {
        margin: 3% 0 0 1%;
        height: 28vmin;
        max-height: 100px;
        left: 0;
      }
    }

    .page-content {
      top: 20%;
      .display-text {
        font-size: 28px;
        width: 90%;
      }

      .joke-paper {
        width: 100%;
        margin-top: 70px;
        img {
          width: 100vw;
          height: auto;
        }

        .joke-text {
          font-size: 14px;
          width: 80%;
        }
      }

      .button {
        margin-top: 10px;
        padding: 0 10%;
        width: 100%;
      }
    }
  }
}
