@font-face {
  font-family: "PassionOne";
  src: url("./assets/PassionOne-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("@assets/background.jpg");
  background-position-y: -50px;
  background-size: cover;
  min-height: 130vh;
  text-align: center;

  .App-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .App-logo {
      margin: 1% 0 0 1%;
      height: 30vmin;
      left: 0;
    }
  }

  .page-content {
    position: absolute;
    top: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;

    &.all-jokes-page {
      top: 20%;

      .display-text {
        position: absolute;
        top: -5%;
        margin-left: 80px;
        text-align: center;
      }

      .jokes-container {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 50vh;
        width: 50%;
        overflow-x: auto;

        .joke-paper {
          margin: 10px;
          width: 45%;

          .joke-text {
            font-size: 12px;
          }
        }
      }
    }

    .display-text {
      top: 25%;
      margin-left: 60px;
      width: 35%;
      font-family:
        "PassionOne",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
      font-size: 42px;
      color: #ffffff;
      text-align: left;
      -webkit-text-stroke: 1px #ff0000;
      text-shadow: 0 0 8px #ff0000;
      rotate: -4deg;
    }

    .joke-paper {
      position: relative;
      margin-top: 40px;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;

        &:hover {
          cursor: pointer;

          transform: scale(1.05);
          transition: transform 0.2s;
        }
      }

      img {
        width: 100%;
        height: auto;
      }

      .joke-id {
        position: absolute;
        top: 15%;
        left: 8%;
        font-weight: 400;
        font-size: 16px;
        color: #e84f4b;
      }

      .joke-text {
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        width: 70%;
        color: #e84f4b;
      }
    }

    .button {
      background: none;
      width: 40%;
      padding: 0 10%;

      &:hover {
        cursor: pointer;

        .button-img {
          transform: scale(1.05);
          transition: transform 0.2s;
        }
      }

      .button-img {
        width: 100%;
      }
    }

    .all-jokes-link {
      margin-top: 20px;
      font-size: 24px;
      color: #ffffff;
      text-decoration: none;
      z-index: 2;

      &:hover {
        cursor: pointer;
        color: #ffeb3b;
        text-decoration: underline;
      }

      &:visited {
        color: #ffffff;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 20vh;
    bottom: 0;
    z-index: 1;

    p {
      margin: 0 20px 10px 0;
      bottom: 0px;
      text-align: right;
      color: #ff0000;
      font-size: 14px;
      position: absolute;
    }

    .footer-background {
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  body {
    height: 100%;
  }

  .App {
    background-size: cover;
    background-position: 60% -20px;
    min-height: 100vh;

    .App-header {
      display: flex;
      .App-logo {
        margin: 3% 0 0 1%;
        height: 28vmin;
        max-height: 100px;
        left: 0;
      }
    }

    .page-content {
      top: 15%;

      &.all-jokes-page {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: auto;
        top: 15%;

        .display-text {
          position: absolute;
          top: -0%;
          margin-left: 0px;
          margin-top: 20px;
          text-align: center;
        }

        .jokes-container {
          margin-top: 100px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          max-height: 50vh;
          width: 100%;
          overflow-x: auto;

          .joke-paper {
            margin: 10px;
            width: 85%;
          }
        }
      }

      .display-text {
        font-size: 28px;
        width: 90%;
        margin-left: 10px;
      }

      .joke-paper {
        width: 100%;
        margin-top: 70px;
        img {
          width: 100vw;
          height: auto;
        }

        .joke-id {
          font-size: 12px;
        }

        .joke-text {
          font-size: 14px;
          width: 80%;
        }
      }

      .button {
        margin-top: 10px;
        padding: 0 10%;
        width: 100%;
      }
    }
    .footer {
      justify-content: center;

      p {
        font-size: 12px;
        margin: 10px 0;
      }
      .footer-background {
        transform: translateX(-50%);
      }
    }
  }
}
