body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  background-image: url("@assets/background.jpg");
  min-height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .App-logo {
    margin: 1% 0 0 1%;
    height: 30vmin;
    left: 0;
  }
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

@media (max-width: 768px) {
  .App {
    background-size: cover;
    background-position: 55%;
  }

  .App-header {
    display: flex;
    .App-logo {
      margin: 3% 0 0 1%;
      height: 30vmin;
      left: 0;
    }
  }

  .display-text {
    h2 {
      font-weight: 400;
      font-size: 32px;
      color: #ffffff;
      line-height: normal;
      letter-spacing: 0em;
    }
  }

  button {
    font-size: 16px;
    padding: 8px 16px;
  }

  body {
    font-size: 14px;
  }
}
